name: Issue Closed

on:
  issues:
    types: [closed]

jobs:
  report:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      
      - name: Create Zeebe Workflow
        uses: jwulf/zeebe-action@master
        with:
          clientConfig: ${{ secrets.ZEEBE_CLIENT_CONFIG }}
          operation: publishMessage
          messageName: closed
          correlationKey: ${{ github.event.issue.number }}
          variables: '{"issue": ${{ toJson(github.event.issue) }} }'

